*{
    font-family:Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
}
body{
    margin: 0;
    
}
header{
    background:#e5e5e5;
    min-height: 125px;
    
}
.container{
    width: 1170px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}
.nav li{
    
    list-style:  none;
    box-sizing: content-box;
}
.nav li a{
    font-size: 14px;
    text-transform: uppercase;
    color: #4e4e4e;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
.nav li a:last-child{
    padding-right: 0;
}
.nav li a:hover{
    color: #1abb9c;
}

@media (max-width: 1200px){
    .container{
        max-width: 100%;
        flex-wrap: wrap;
    }
}
@media (max-width: 700px){
   .logo {
       margin: 0 auto;
   }
   .container{
       padding-top: 20px;
       padding-bottom: 20px;
   }
}
@media (max-width: 530px){  
    .nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0 0;
    }
    .container{
        flex-direction: column;
        padding-bottom: 0;
    }
    .nav ul li{
        text-decoration: wavy ;
        margin: 3px 0;
        border-radius: 30px;
        border: 1px solid #000;
        cursor: pointer;

    }
    .nav ul li:nth-child(2n+1){
        background: cadetblue;
        margin-left: -20px;
        
    }
    
    .nav ul li a{
        padding: 10px 0;
        margin: 30px;
    }
}