*{
    font-family:Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
}
body{
    margin: 0;
    
}
/* header creating */
header{
    background:#e5e5e5;
    
}
.container{
    width: 1170px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}
.nav li{
    
    list-style:  none;
    box-sizing: content-box;
}
.nav li a{
    font-size: 14px;
    text-transform: uppercase;
    color: #4e4e4e;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
.nav li a:last-child{
    padding-right: 0;
}
.nav li a:hover{
    color: #1abb9c;
}
/* slider creating */
.slider-image{
    background-image: url(images/slider.png);
    background-color: #fff;
    height:600px;
}
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}
.wrap h1,h2,a{
    text-align: center;
}
.wrap h1{
    margin-top: 200px;
    margin-bottom: 0;
    color:#f3f3f3;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrap h2{
    margin-top: 50px;
    margin-bottom: 0;
    color: #a8a8a8;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    
    margin-top: 50px;
    margin-bottom: 200px;
    cursor: pointer;
    width: 140px;
    height: 45px;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #3f8dbf;
    background: #3f8dbf;
    
}
.button:hover{
    background: #1abb9c;
        background: cadetblue;
        border: 1px solid cadetblue ;
}
.button span{
    display: block;
    padding-top: 15px;
}
/* services creating */
#services{
    padding-top: 60px;
}
.service img{
    width: 90px;
    border-radius: 50%;
}
.service{
    text-align: center;
}
.service p{
    color: #616161;
    line-height: 1.5;
    
}
.service h3{
    color: #4e4e4e;
}
.service{
    padding:0 10px; ;
}
hr {
    width: 1170px;
    border: none; /* Убираем границу */
    background-color: #e3e3e3; /* Цвет линии */
    color:#e3e3e3; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}

@media (max-width: 1200px){
   
    .container{
        
        max-width: 100%;
        flex-wrap: wrap;
    }
}
@media (max-width: 900px){
    .slider-image{
        max-width: 100%;
    }
    .wrap h1{
        margin-top: 20px;
    }
    .button{
        margin-bottom: 20px;
    }
    .slider-image{
        height: unset;
    }

}
@media (max-width: 700px){
   .logo {
       margin: 0 auto;
   }
   .container{
       padding-top: 20px;
       padding-bottom: 20px;
   }
   
}
@media (max-width: 530px){  
    .nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0 0;
    }
    .container{
        flex-direction: column;
        padding-bottom: 0;
    }
    .nav ul li{
        text-decoration: wavy ;
        margin: 3px 0;
        border-radius: 30px;
        border: 1px solid #000;
        cursor: pointer;

    }
    .nav ul li:nth-child(2n+1){
        background: cadetblue;
        margin-left: -20px;
        
    }
    
    .nav ul li a{
        padding: 10px 0;
        margin: 30px;
    }
   
     
}